
body{
	
	margin:0; 
	font-family:Arial,sans-serif;

	
} 


header{
	
	background-color:pink; 
	padding: 15px 30px;
} 

.contenedor-header{
	
    display:flex; 
	justify-content:space-between; 
	align-items:center; 
	
} 

.titulo{
	
	margin:0; 
	color:white;
}

/*lista de navegacion*/


.nav-lista a {
  color: white!important;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-lista a:hover {
  background-color:#FC90B7 ; 
  color: white!important;
}

.nav-lista li shover{
	
	text-decoration:underline; 
	
	
}

.banner-img{
	
	width:100%; 
	height:352px; 
	object-fit:cover;
	display:block;
	
} 



/*fondo rosa texto explicativo*/

.productos{
	
	background-color:pink; 
	padding: 15px 30px; 
	color:white;  
	text-align:center; 
	margin:0;
	
} 

/* texto largo explicativo*/


.acaricia-alma{
	
	text-align:center; 
	font-size:20px; 
	margin:25px; 
	background-color:pink; 
	padding: 15px 30px; 
	color:white;  
	text-align:center; 
	margin:0;
} 

/* porductos img y caracteristicas*/

.productos-img{
	
	text-align:center;
	
	
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.galeria img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



/* animacion de img*/

.galeria img:hover {
  transform: scale(1.05);
  
}

/* titulo de texto productos*/

.linea-texto {
  display: flex;
  align-items: center;
  text-align: center;
  color: pink;
  font-size: 1.1em;
  max-width: 1200px;
  margin: 40px auto;
  font-weight: 500;
}

/*linea de texto productos*/

.linea-texto::before,
.linea-texto::after {
  content: "";
  flex: 1; 
  border-bottom: 2px solid #f7c5cc; 
  margin: 0 15px;
}


/* color de letra menu encabezado*/ 

a {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

/* color fondo de letra menu*/

a:hover {
  
  color: #ff7aa2; 
}

/* parte baja iconos redes*/

footer {
  background-color: pink; 
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer .redes {
  margin-top: 10px;
}

footer .redes a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer .redes a:hover {
  color: #C3D9EE; 
}

	
