body{
	
	margin:0; 
        font-family:'Playwrite Danmark Loopet,sans-serif;

	
} 


header{
	
	background-color:#FFA9CA  ; 
	padding: 15px 30px;
	
	
} 



.contenedor-header{
	
    display:flex; 
	justify-content:space-between; 
	align-items:center; 
	
} 

.titulo{
	
	margin:0; 
	color:white;
}

/*lista de navegacion*/


.nav-lista a {
  color: white!important;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-lista a:hover {
  background-color:#C3D9EE ; 
  color: white!important;
}

.nav-lista li shover{
	
	text-decoration:underline; 
	
	
}

/* banner img de torta*/ 

.banner-img{
	
	width:100%; 
	height:352px; 
	object-fit:cover;
	display:block;
	
}  

.zoom-in {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease;
}

.zoom-in.visible {
  opacity: 1;
  transform: scale(1);
}



/*fondo rosa texto explicativo*/

.productos{
	
	background-color:pink; 
	padding: 15px 30px; 
	color:white;  
	text-align:center; 
	margin:0; 
	
	
} 

/* texto largo explicativo*/


.acaricia-alma{
	
	text-align:center; 
	font-size:20px; 
	margin:25px; 
	background-color:#FFA9CA  ; 
	padding: 15px 30px; 
	color:white;  
	text-align:center; 
	margin:0;
	
}
	
.slide-in {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}


/* porductos img y caracteristicas*/

.productos-img{
	
	text-align:center;
	
	
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 300px;
  flex-wrap: wrap;
}

.galeria img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
  
}


.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.08); 
}

.col-md-3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}
.col-md-3.mostrar {
  opacity: 1;
  transform: translateY(0);
}




/* productos caja y titulo */


.produ-titulo{
   text-align:center; 
	font-size:90px; 
	margin:25px; 
	color:pink;  
	text-align:center; 
	margin:0;  
	
}

.caja-productos {
  background-color: #FFF9DF ;
  padding: 20px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1100px;
}


.caja-productos p {
	
	background-color: #C3D9EE; 
	max-width: 1500px;
	padding: 10px;
	border-radius: 100px;
	display:absolute;  
	

	
} 

.caja-productos h2 {
	
	background-color: pink; 
	max-width: 1500px;
	padding: 10px;
	border-radius: 10px;
	display:absolute;  
	
	
	
}


/* sobre nosotros */ 




.sobre-nosotros {
  background-color: #fff9df;
  padding: 20px;
  border-radius: 20px;
  max-width: 1100px;
    margin: 40px auto;
}

.texto-nosotros {
  color: pink;
  font-weight: bold;
 
	
}




.aparecer {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.aparecer.visible {
  opacity: 1;
  transform: translateY(0);
}




 

.sobre-nosotros-item p{
	
	
	font-size:18px;
	color:pink;
    
	flex:1;
}


/* color de letra menu encabezado*/ 

a {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

/* color fondo de letra menu*/

a:hover {
  
  color: #ff7aa2; 
}

/* parte baja iconos redes*/

footer {
  background-color: pink; 
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer .redes {
  margin-top: 10px;
}

footer .redes a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer .redes a:hover {
  color: #C3D9EE; 
}

