body{
	
	margin:0; 
	font-family:Arial,sans-serif;

	
} 

main{
	
	padding-top:20px;
	
	
	
}

header {
  background-color: #fdc5c9;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
}


.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #fa8cb1; 
  color:white;
}




/* banner img de torta*/ 






.carousel-inner img{
	
	height:650px;
	width:1000px;
	object-fit:cover;
	
	
	
}




/* texto largo explicativo*/


.acaricia-alma{
	
	text-align:center; 
	font-size:30px; 
	margin:25px;  
	padding: 15px 30px; 
	color:#9e6d4e;  
	text-align:center; 
	margin:0;
	
}
	
.slide-in {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}


/* porductos img y caracteristicas*/

.productos-img{
	
	text-align:center;
	
	
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 300px;
  flex-wrap: wrap;
}

.galeria img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
  
}


.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.08); 
}

.col-md-3 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}
.col-md-3.mostrar {
  opacity: 1;
  transform: translateY(0);
}

/* Estilo botón activo  */
button.active {
  background-color: #ffc0cb;
  color: white;
}


.filtro-btn {
  background: linear-gradient(135deg, #fdc5c9 ,#fdc5c9);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(213, 174, 234, 0.4); 
  color: #9e6d4e;
}

.filtro-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(213, 174, 234, 0.6);
}

/* Animación de aparición */
@keyframes aparecerAnim {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.aparecer {
  animation: aparecerAnim 0.5s ease-in-out;
  display: block;
}


.oculto {
  display: none !important;
}


.boton-comprar {
  display: inline-block;
  background: linear-gradient(135deg, #fdc5c9 ,#fdc5c9); 
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(248, 199, 220, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.boton-comprar:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(248, 199, 220, 0.7);
}


/* productos caja y titulo */


.produ-titulo{
   text-align:center; 
	font-size:90px; 
	margin:25px; 
	color:#9e6d4e;  
	margin:0;  
	
}

.caja-productos {
  background-color: #fffee1 ;
  padding: 20px;
  border-radius: 20px;
  margin: 40px auto;
  max-width: 1100px;
}


.caja-productos h5 {
	
	background-color: #fdc5c9; 
	padding: 10px;
	border-radius: 100px; 
	color:#9e6d4e;
	

	
} 

.caja-productos h2 {
	
	

	padding: 10px;
	border-radius: 10px;   
	color:#9e6d4e;
	
	
	
}

.caja-productos p {
	
	color:#9e6d4e;
	
	
}



/* sobre nosotros */ 




.sobre-nosotros {
  background-color: #fffee1;
  padding: 20px;
  border-radius: 20px;
  max-width: 1100px;
    margin: 40px auto;
}

.texto-nosotros {
  color: #9e6d4e;
  font-weight: bold;
 
	
}




.aparecer {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.aparecer.visible {
  opacity: 1;
  transform: translateY(0);
}




} 

.sobre-nosotros-item p{
	
	
	font-size:18px;
	color:pink;
    
	flex:1;
}


/* color de letra menu encabezado*/ 

a {
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

/* color fondo de letra menu*/

a:hover {
  
  color: #ff7aa2; 
}


/* datos de pago , envio y compra */ 

.info-beneficios {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px 20px;

  flex-wrap: wrap;
}

.beneficio {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;
  margin: 15px;
}

.beneficio i {
  font-size: 30px;
  color: #9e6d4e;
}

.beneficio h4 {
  margin: 0;
  font-size: 16px;
  color: #9e6d4e;
}

.beneficio p {
  margin: 0;
  font-size: 14px;
  color:#9e6d4e;
}




/* parte baja iconos redes*/

footer {
  background-color: #fdc5c9;
  color: white;
  text-align: center; 
 border-bottom:20px solid white !important; 

}

.footer-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center; 
  padding:20px;
}

.footer-contenedor > div {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-navegacion ul {
  list-style: none;
  padding: 0; 
  
}

.footer-navegacion li {
  margin: 5px 0; 
   
}

.footer-navegacion a {
   color: white;
  text-decoration: none;
}

.footer-navegacion a:hover{ 

   color:#fa8cb1;

}
.footer-redes a {

  margin: 0 10px;
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.footer-redes a:hover {
  color: #fa8cb1; 
   
}

.footer-mapa iframe {
  width: 100%; 
  max-width:100%;
  height: 150px;
  display:block;
}

.footer-creditos {
  margin-top: 20px;
  font-size: 14px;  
  padding:0px;
}
